.passwImg{
    width: 50%;
    justify-self: center;
    display: block; 
    margin: 0 auto;
}

.horizontal-heading{
 text-align: center;
 margin-bottom: 10px;
}

.horizontal-subtitle{
    text-align: center;
    margin-bottom: 5%;
}